@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

body, html{
  height: 100%;
  margin: 0;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}
.section{
  text-align: center;
  padding: 10px 10px 30px 30px;
}
.about {
  text-transform: uppercase;
  font-size: 40px;
}
.pic1, .pic2{
  position: relative;
  opacity: 0.70;
  background-position: full;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.pic1{
  background-image: url('../images/pic6.jpg');
  min-height: 100%;
  z-index: -1;
  margin-top: -32px;
}
.pic2{
  background-image: url('../images/pic7.jpg');
  min-height: 50%;
  z-index: -1;
}
.provider{
  text-transform: uppercase;
}

.aboutus{
  background-color: #282e28;
  color: white;
}
.ritz{
  color: black;
}
p{
  font-size: 20px;
  padding: 20px;
}
.wrapper{
  text-align: center;
  background-color: #282e28;
  color: #ddd;
  padding-top: 30px;
  padding-bottom: 30px;
}
h1{
  text-align: center;
  padding: 20px;
  font-size: 40px;
  color: black;
}
.text{
  padding-top: 25%;
}
.text1{
  padding-top: 12%;
}
.tm{
  font-size: 12px;
}
@media(max-width:950px){
  .about{
    padding-top: 50%;
  }
  .provider{
    padding-top: 25%;
  }
  .pic1, .pic2{
    background-attachment: scroll;
  }
}
@media (min-width: 320px) and (max-width: 420px){
  .about{
    font-size: 30px;
    color: red;
  }
  .provider{
    font-size: 30px;
    color: white;
  }
  
}