@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: none;
}
body{
    background: url('/images/pic12.png') no-repeat top center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}
.border{
    background: rgba( 0, 0, 0, 0.7);
    width: 50%;
    padding-top: 20px;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}
.border1{
    background: rgba( 0, 0, 0, 0.7);
    width: 90%;
    padding-top: 10px;
    margin-top: 0%;
    display: flex;
    flex-direction: column;
}
.text{
    text-align: left;
    color: white;
    font-size: 20px;
}
.email a{
    text-decoration: none;
    padding: 50px;
    color:white;
}
.email, .phone {
    font-size: 30px;
    color: white;
    padding-bottom: 15px;
}

h2{
    text-align: center;
    font-size: 35px;
    letter-spacing: 3px;
    padding-bottom: 50px;
    text-transform: uppercase;
}
p{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}
.wrapper{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%,-50%);
    width: 500px;   
}
.input-fields{
    padding: 15px 30px;
}
.input-fields .items{
    width: 100%;
    padding-bottom: 15px;
    
}
.input-fields .items .label{
    display: block;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    padding-bottom: 3px;
}
.input-fields .items .input,
.input-fields .items .text-area{
    background: transparent;
    border: 0;
    border: 2px solid white;
    width: 100%;
    padding: 2px 3px;
    font-size: 15px;
    color: white;
    border-radius: 10px;
}
.btn{
    background: rgba(0, 0, 0, 0.5);
    margin: 0 30px;
    color: white;
    font-size: 1.25em;
    padding: 10px 0 10px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 20px;
    cursor: pointer;
    letter-spacing: 2px;
    transition: .3s ease background-color;
}
.btn:hover{
    background-color: rgba(0, 0, 0, 0.9);
}
.item #msg{
    height: 200px;
    display: block;
}
.text-area{
    resize: vertical;
}
/* .notif{
    padding: 40px;
}
#status{
    display: absolute;
    width: 565px;;
    color: White;
    float: right;
    padding: 10px 10px 10px 10px;
}
#status.success{
    background-color: rgb(red, green, rgb(72, 255, 0));
    animation: status 4s ease forwards;
}
#status.error{
    background-color: red;
    animation: status 4s ease forwards;
} */
@media(max-width: 1000px){
    .border{
        width: 100%;
        margin-top: 50px;
    }
    h2{
        font-size: 25px;
        padding-top: -50px;
    }
    p{
        font-size: 20px;
        margin-bottom: 30px;
    }
    .email a{
        font-size: 20px;
    }
    .border1{
        position: absolute;
        margin-left: -112px;
        width: 100%;
        background-image: url('/images/pic7.jpg');
        top: 380px;  
    }
    .wrapper1{
        display: absolute;
        margin-top: 90% ;
    }
    #status{
        padding-left: 150px;
        font-size: 15px;

    }
}
.wrapper1{
    position: relative;
    top: 105px;
    text-align: center;
    background-color: #282e28;
    color: #ddd;
    padding-top: 15px;
    padding-bottom: 5px;
}
.tm{
    font-size: 12px;
}
