@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
header{
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 70px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
    display: flex;
    position: fixed;
}
.brand{
    position: absolute;
    left: 75px;
    top: 23px;
    font-size: 25px;
    text-transform: uppercase;
}
.brand a{
    text-decoration: none;
    color: white;
}

.navlinks{
    position: absolute;
    display: flex;
    right: 0;   
}
.navlinks ul{
    float: right;
    padding: 0 10px;
}
.navlinks ul li{
    display: inline-block;
    list-style: none;
    margin-top: 25px;
    text-transform: uppercase;
}

.navlinks ul li a{
    text-decoration: none;
    padding: 0 5px;
    font-size: 14px;
    color: white
}
.navlinks ul li a:hover{
    background: rgba(0, 0, 0, 0.5);
    padding: 20px 5px;   
}
.sidenav {
    height: 100%; 
    width: 0;
    position: fixed;
    z-index: 1; 
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
span{
    height: 30px;
    width: 30px;
    padding-right:50px;
    
} 
span img{
    height: 30px;
    font-weight: 30px;
    position: fixed;
    right: 0;
    top: 20px;
    padding-right: 50px;
    display: none;
      
    
    
}

@media(max-width: 1000px){
    .navlinks{display: none;}
    span img{
        display: block;
    }
}
@media (min-width: 320px) and (max-width: 480px){
    .logo a img{
        width: 40px;
        padding-top: 15px;
    }
    .brand a{
        font-size: 18px;
        float: right;
        padding-right: 20px;
        margin-left: -35px;
        
    }
}
  
