@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

body, html{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666
}
.pic{
    position: relative;
    opacity: 0.70;
    background-position: full;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.pic{
    background-image: url('../images/Pic1.jpg');
    min-height: 75%;
    z-index: -1;
    margin-top: -30px;   
}
.testimonials{
    background-color:rgb(145, 59, 59);
    color: black;
    font-weight: 15px;
    color: white;
}
.title{
    text-align: center;
    padding-top: 20%;
    color: black;
    font-size: 40px;
}
.narration{
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50%;
    padding-top: 50px ;
    padding-bottom: 100px;
    background-color: rgb(145, 59, 59);
    color: white;
    
}
p{
    font-size: 20px;
    text-align: center;
    text-align: justify;
    text-justify: inter-word;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 50px;
}
.wrapper{
    text-align: center;
    background-color: #282e28;
    color: #ddd;
    padding-top: 50px;
    padding-bottom: 30px;
}
.tm{
    font-size: 12px;
    text-align: center;
    padding-top: 20px;
}
@media(max-width: 950px){
    h1{
        font-size: 40px;
        padding: 35%;   
    }
    .narration{
        padding-right: 30px;
    }
    .pic{
        background-attachment: scroll;
    }
}